border-radiusss()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

.fr
    height 99px
    .sc
        width 88px
h1
    color red
    font-size 9rem

.myH1
    border-radiusss: 20px


fonts = Helvetica, Arial, sans-serif

body {
  padding: 50px;
  font: 14px/1.4 fonts;
}